<app-header></app-header><!-- Blog Page Title & Breadcrumbs -->
<div data-aos="fade" class="page-title">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Blog</h1>
          <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
            consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
            quaerat ipsum dolorem.</p>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">Blog</li>
      </ol>
    </div>
  </nav>
</div><!-- End Page Title -->

<!-- Blog Section - Blog Page -->
<section id="blog" class="blog">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 posts-list">

      <div *ngFor="let item of allData" class="col-xl-4 col-lg-6">
        <article>

          <div class="post-img">
            <img [src]="item.blog_image" alt="" class="img-fluid">
          </div>

          <p class="post-category">{{item.category}}</p>

          <h2 class="title">
            <a routerLink="/single_blog/{{item.id}}"> {{ item.title }} </a>
          </h2>

          <div class="d-flex align-items-center">
            <img [src]="item.user_image" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">{{ item.user }}</p>
              <p class="post-date">
                <time datetime="2022-01-01">{{item.date | date}}</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item -->

    </div><!-- End blog posts list -->

    <div class="pagination d-flex justify-content-center">
      <ul>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </div><!-- End pagination -->

  </div>

</section><!-- End Blog Section -->
<app-footer></app-footer>
