<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Intsant</h1>
      <span>.</span>
    </a>

    <!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/home" class="active">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/state">State</a></li>
        <li><a routerLink="/pricing">Pricing</a></li>
        <li><a routerLink="/blogs">Blog</a></li>
        <li><a routerLink="/features">features</a></li>

        <li><a routerLink="/contact">Contact</a></li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav><!-- End Nav Menu -->

    <a class="btn-getstarted" routerLink="/about">Get Started</a>

  </div>
</header><!-- End Header -->
