<app-admin-nav-bar></app-admin-nav-bar>

<div class="container col-md-6">

  <h1 class="text-center">Login Page </h1>
  <div class="card">
    <div *ngIf="message.length > 0" class="alert alert-danger">
      {{message}}
    </div>
    <div class="card-body">


      <div class="form-group">
        <label for="">User Name </label>
        <input [(ngModel)]="userName" type="text" class="form-control" placeholder="User Name">
      </div>
      <div class="form-group">
        <label for="">Password </label>
        <input type="password" [(ngModel)]="userPass" class="form-control" placeholder="User Password">
      </div>

      <div class="d-grid">
        <button (click)="login()" class="btn btn-info"> Login </button>
      </div>

    </div>
  </div>
</div>
